body {
    background: url(taskivo.png);
    height: 2000px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: #f1efe7;}
    
  form {
    width: 300px;
    margin: 250px auto;
    padding: 60px;
    border: 0px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }/* Login buttton*/
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  